.cake-preview {

    width:500px;

    aspect-ratio:1;

    position:relative;

    margin:auto;
}

.layer-image{

    position:absolute;

    inset:0;

    img{

        object-fit:contain;

        user-select:none;

        pointer-events:none;
    }
}