*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: #f7f5f2;
  color: #222;
  font-family:
    Inter,
    system-ui,
    sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

button {
  border: none;
  outline: none;
}