.cake-page {
    min-height:100vh;
}

.preview-panel{
    background:white;
    border-radius:25px;
    min-height:720px;
}

.sidebar-panel{
    background:white;
    border-radius:25px;
    min-height:720px;
}